Options -Indexes -ExecCGI
RemoveHandler .php .phtml .php3 .php4 .php5 .php7 .phps .cgi .pl .py .asp .aspx .sh .jsp
RemoveType .php .phtml .php3 .php4 .php5 .php7 .phps
<IfModule mod_headers.c>
  Header set X-Content-Type-Options "nosniff"
</IfModule>